#subscriber_associate_field .optional {
  display: none;
}

.field--first_name .optional,
.field--last_name .optional,
.field--company .optional,
.field--company_contact .optional,
.subscriber-fields__field-wrapper .optional {
  font-size: 0;
}
.field--first_name .optional:after,
.field--last_name .optional:after,
.field--company .optional:after,
.field--company_contact .optional:after,
.subscriber-fields__field-wrapper .optional:after {
  content: '*';
  font-size: initial;
}

.subscriber-fields__field-wrapper:before {
  display: block;
  margin-bottom: 10px;
  content: "Ihre Abonummer finden sie auf der Rechnung oder Ihrem Lastschrifttext.";
  color: #999;
}

.form-actions {
  overflow: hidden;
  text-align: right;
}
