#subscriber_associate_field .optional {
  display: none;
}

.field--first_name .optional,
.field--last_name .optional,
.field--company .optional,
.field--company_contact .optional,
.subscriber-fields__field-wrapper .optional {
  font-size: 0;
}
.field--first_name .optional:after,
.field--last_name .optional:after,
.field--company .optional:after,
.field--company_contact .optional:after,
.subscriber-fields__field-wrapper .optional:after {
  content: '*';
  font-size: initial;
}

.form-actions {
  overflow: hidden;
  text-align: right;
}

#optins .optional {
  display: none;
}

/* Account: Re-position display name fields before opt-ins. */
form.edit-account {
  display: flex;
  flex-direction: column;
}
form.edit-account .account-section.display-name {
  order: 10;
}
form.edit-account .account-section.display-name .form-row {
  float: left;
  width: 48%;
}
form.edit-account .account-section.display-name .form-row:nth-of-type(-n+1) {
  margin-right: 4%;
}
form.edit-account #optins {
  order: 20;
}
form.edit-account > p:last-child {
  order: 30;
}
